
.App {
  margin: 3rem auto;
  width: 30rem;
  max-width: 80%;
}
.App > h1 {
  font-size: 1.5rem;
  text-align: center;
}
.App > form {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.App > form > input {
  padding: 0.5rem 0.8rem;
  border: 2px solid #1a8917;
  border-radius: 4px;
}
.App > form > input:focus {
  outline: none;
}
.App > form > button {
  margin-left: 0.5rem;
  background: #1a8917;
  color: #fff;
  font-weight: 700;
  border: none;
  font-family: inherit;
}
.todos {
  margin: 0.5rem 0;
  list-style: none;
  padding: 0;
}
.todo {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  background: rgba(61, 240, 55, 0.5);
  cursor: pointer;
}
.todo > div {
  width: 100%;
  overflow: hidden;
}
.todo > div > p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #093008;
  width: 100%;
  margin: 0.5rem;
}
.todo > button {
  margin-left: 0.5rem;
  background: rgb(230, 29, 29);
  border: none;
  color: #fff;
}
.done {
  background: #ccc;
}